{% extends "index.html" %}
{% block section %}
<script>
  function movePage(page){
    location.href = "/lotto/list/"+page
  }

  (function($){
    const pageinfo = {{ pageInfo|tojson }}
    const datas = {{ datas|tojson }}

    console.log( datas );
  })(jQuery);

</script>
<div class="container">
  <div class="section">
    <div class="container">
      <div>
        <a href="/lotto/write">Create</a>
      </div>
      <table id="lotto_list">
        <thead>
          <tr>
            <th>추천회차</th>
            <th>추천일</th>
            <th>번호1</th>
            <th>번호2</th>
            <th>번호3</th>
            <th>번호4</th>
            <th>번호5</th>
            <th>번호6</th>
          </tr>
        </thead>
        <tbody>
          {% for data in datas %}
          <tr>
            <td>{{ data.drwNo }}</td>
            <td>{{ data.drwNoDate }}</td>
            <td>{{ data.drwtNo1 }}</td>
            <td>{{ data.drwtNo2 }}</td>
            <td>{{ data.drwtNo3 }}</td>
            <td>{{ data.drwtNo4 }}</td>
            <td>{{ data.drwtNo5 }}</td>
            <td>{{ data.drwtNo6 }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="container">
      <ul class="pagination">
        <li class="{{ 'disabled' if not pageInfo.has_prev_page }}"><a href="#!" onclick="movePage('{{ pageInfo.prev_page }}')"><i class="material-icons">chevron_left</i></a></li>
        {% for page in range( pageInfo.start_page, pageInfo.end_page+1 ) %}
          <li class="waves-effect{{ ' active' if page == pageInfo.page }}{{ ' disabled' if page > pageInfo.last_page }}">
            <a href="#!" onclick="movePage('{{ page }}')">{{ page }}</a>
          </li>
        {% endfor %}
        <li class="{{ 'disabled' if not pageInfo.has_next_page }}"><a href="#!" onclick="movePage('{{ pageInfo.next_page }}')"><i class="material-icons">chevron_right</i></a></li>
      </ul>
    </div>
  </div>
</div>

{% endblock section %}