<script src="{{ url_for('static', filename='plugins/materialize/js/materialize.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/mtr-datepicker/js/mtr-datepicker-timezones.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/mtr-datepicker/js/mtr-datepicker.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/mtr-datepicker/js/mtr-datepicker-module.js') }}"></script>
<script src="{{ url_for('static', filename='js/init.js') }}"></script>