<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Parallax Template - Materialize</title>
    <!-- CSS  -->
    {% include "./common/style.jinja" %}
    {% block style %}{% endblock style %}
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    {% include "./common/pre-load-js.jinja" %}
    {% block pre_load_js %}{% endblock pre_load_js %}
  </head>
  <body>
    <!-- Navigation -->
    <nav class="white" role="navigation">
      {% block navigation %}
        {% include "./layout/main/navigation.html" %}
      {% endblock navigation %}
    </nav>
    <!-- Section -->
    <section>
        {% block section %}
          {% include "./layout/main/section.html" %}
        {% endblock section %}
    </section>
    <!-- Footer -->
    <footer class="page-footer teal">
      {% block footer %}
        {% include "./layout/main/footer.html" %}
      {% endblock footer %}
    </footer>
    <!-- Scripts -->
    {% include "./common/post-load-js.jinja" %}
    {% block post_load_js %}{% endblock post_load_js %}
  </body>
</html>
