<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/materialize/css/materialize.css' ) }}">
  <script src="{{ url_for('static', filename='plugins/materialize/js/materialize.js' ) }}"></script>
  <title>Document</title>
</head>
<body>
  <div id="root">
    <header>
      <h3>Hello, Flask!!!</h3>
    </header>
    <nav>

    </nav>
    <section>
      <h3>콘텐츠 블럭</h3>
      <content id="content" style="display: block; border: 1px solid;">
        {% block content %}{% endblock %}
      </content>
    </section>
    <footer>

    </footer>
  </div>
</body>
</html>